node-red-contrib-trustpoint-v0.1/flows/example-flow1.json
[
  {
    "id": "inject-keygen",
    "type": "inject",
    "z": "flow1",
    "name": "Start Enrollment",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "wires": [["keygen"]]
  },
  {
    "id": "keygen",
    "type": "trustpoint-keygen",
    "z": "flow1",
    "name": "Generate RSA Key",
    "algorithm": "RSA",
    "keySize": "2048",
    "ecCurve": "",
    "filenamePrefix": "device",
    "persist": false,
    "wires": [["csr"]]
  },
  {
    "id": "csr",
    "type": "trustpoint-create-csr",
    "z": "flow1",
    "name": "Create CSR",
    "cn": "device1.local",
    "o": "MyCompany",
    "ou": "IoT Division",
    "san": "device1.local,192.168.0.10",
    "privateKey": "",
    "wires": [["enroll"]]
  },
  {
    "id": "enroll",
    "type": "trustpoint-simpleenroll",
    "z": "flow1",
    "name": "Enroll Certificate",
    "estHost": "192.168.65.1",
    "useBasic": true,
    "username": "admin",
    "password": "admin",
    "useMtls": false,
    "clientCert": "",
    "clientKey": "",
    "wires": [["store"]]
  },
  {
    "id": "store",
    "type": "trustpoint-store",
    "z": "flow1",
    "name": "Store Certificate",
    "operation": "store",
    "location": "file",
    "contextScope": "flow",
    "format": "pem",
    "key": "deviceCert",
    "filePath": "/data/device_cert.pem",
    "wires": [["debug"]]
  },
  {
    "id": "debug",
    "type": "debug",
    "z": "flow1",
    "name": "Certificate Saved",
    "active": true,
    "console": "false",
    "complete": "payload",
    "statusVal": "",
    "statusType": "auto",
    "wires": []
  }
]
